name: mirror_srtti

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

permissions:
  contents: read

jobs:
  mirror_srtti:
    # Origin repo only
    permissions:
      contents: write  # for peter-evans/create-pull-request to create branch
      pull-requests: write  # for peter-evans/create-pull-request to create a PR
    if: github.repository == 'abap2UI5/abap2UI5'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: run
      run: |
        git clone https://github.com/abap2UI5/srtti_mirror.git
        ls -l
        rm src/00/02/z*
        cp srtti_mirror/src/z* src/00/02/
        rm -rf srtti_mirror
        git status
    - name: Open PR
      uses: peter-evans/create-pull-request@v4
      with:
        title: mirror-srtti-update
        branch: mirror-srtti-update